@charset "UFT-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

::-webkit-scrollbar {
    width: 0px;
    height: 0px
}

img {
    width: 100vw;
}

a {
    display: block;
    background-color: darkred;
    padding: 10px;
    text-decoration: none;
    text-align: center;
    font-weight: bolder;
    color: white;
}

a:hover{
    background-color: red;
}